@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">EJournal</h1>
    <h1 class="display-4">Boro³</h1>
    <p>Team <a href="https://www.youtube.com/watch?v=O5zByYNd5Kg" target="_blank">Anthem</a></p>
</div>
