@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>EJournal is created and developed by three students from ELSYS:</p>
<p><a href="https://www.instagram.com/kaloyanpashov/" target="_blank">Kaloyan Pashov</a></p>
<p><a href="https://www.instagram.com/dzhelek/dzhel" target="_blank">Joan Dzhelekarski</a></p>
<p><a href="https://www.instagram.com/sashox50/" target="_blank">Alexandar Hristov</a></p>

